name: Build macOS arm64

on:
  workflow_dispatch:
    inputs:
      TAG_NAME:
        description: 'Release Version Tag'
        required: true
  release:
    types: [created]
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**/*.md'

jobs:
  build_universal_wheel:
    name: Build Universal Wheel (macOS ARM64)
    runs-on: macos-14-xlarge
    steps:
      - name: Update version for release
        run: |
          export PATH="$HOME/.pyenv/bin:$PATH"
          eval "$(pyenv init -)"
          pyenv shell 3.9

          # Install bump-my-version
          python -m pip install bump-my-version
          bump-my-version replace --new-version 3.7.1
          echo "Version files updated to 3.7.1"
          pyenv shell --unset
