name: Pull-CI

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    env:
      PYTHON_VERSIONS: "3.11"

    runs-on: gh-64c
    steps:
      - name: Clone chDB repository
        uses: actions/checkout@v2
        with:
          repository: "chdb-io/chdb"
          ref: "refs/pull/${{ github.event.pull_request.number }}/merge"
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install flake8
        run: python -m pip install flake8

      - name: Run flake8
        run: |
          # Uses root setup.cfg for unified configuration
          flake8 chdb --count --show-source --statistics
